html {
  scroll-behavior: smooth;
}

.container {
    display: flex;
}

.content-container {
    width: 100%;
    margin: 0.5rem;
    border-radius: 15px;
    border: 2px solid #e5e5e5;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.content {
    display: flex;
    padding: 1rem;
    margin-right: 1rem;
    margin-left: 1rem;
    align-items: center;
    justify-content: space-between;
}

.sidebar a.active {
    width: 100%;
    color: white;
    min-width: 200px;
    border-radius: 6px;
    background-color: #d2b695;
}